html, body {
    height: 100%;
}

html {
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kotak{
    background-color:whitesmoke;
    color: black;
}
